<% provide(:button_text,'Create my account') %>
<% provide(:prehol,' ') %>
<h1>Sign up</h1>

<div>
  <%= render 'form' %>
</div>

<%= link_to image_tag('twitter_log_in.png'), "/auth/twitter",method: :post,class: "twitter_log_in" %>
