
<li id="picture">
  <span class="user"><%= link_to micropost.user.name, micropost.user %></span>
  <span class="content">  <%= micropost.content %> </span>
  <span class="tag_list"><%=  render 'microposts/tag_list', tag_list: micropost.tag_list %> </span>
  <% if current_user?(micropost.user)||logged_in?&&current_user.admin? %>
  <%= link_to "削除", micropost, method: :delete, data: {confirm:"You sure"} %>
  <% end %>
</li>

