<div class="col-md-1"></div>
<div class="col-md-6">
<script>
    $(document).ready(function() { $('#summernote').summernote({tabsize: 3, height: 500,width: 600}); });
</script>
  <div class="row">
    <aside >
      <section class="micropost_form">
        <%= render partial: 'shared/micropost_form' %>
      </section>
    </aside>
  </div>
</div>
<div class="col-md-4">
<h1>共有方法<h1>
<P class="instructions">①共有したいTwitterのツイートの右上の・・・をクリック</p>
<P class="instructions">②</>ツイートを埋め込むをクリック</p>
<p class="instructions">③copy codeをクリックしてコピーする</p>
<p class="instructions">④このページの入力欄の上にある＜/＞をクリック</p>
<P class="instructions">⑤既に記述されている＜p＞＜br＞＜/p＞を削除して先ほどコピーしたものを貼り付ける</p>
<P class="instructions">⑥もう一度</>をクリックする(必須）</p>
<P class="instructions">⑦引用した画像に関連するタグを記入する（複数記入する場合は , で区切る）</p>
<P class="instructions">⑧Shareを押して共有</p>
<P class="instructions">*リプライ機能を使って投稿された絵を共有する場合は③のcopy codeの上にある set customization optionsをクリック<p>
<p class="instructions">→Hide Conversationにチェックを入れる→updateをクリックしてからcopy codeをクリックする

</div>