<script>
    $(document).ready(function() { $('#summernote').summernote({ placeholder: '記事本文を入力しましょう', tabsize: 3, height: 500 }); });
</script>
  <div class="row">
    <aside class="col-md-4">
      <section class="micropost_form">
        <%= render partial: 'shared/micropost_form' %>
      </section>
    </aside>
  </div>