@import "bootstrap-sprockets";
@import "bootstrap";
@import "summernote-bs4";




/* universal */

body {
    padding-top: 60px;
    
      background-image:  image-url('Yellow.jpg')
      
    
  }
  
  section {
    overflow: auto;
  }
  
  textarea {
    resize: vertical;
  }
  
  .center {
    text-align: center;
  }
  
  .center h1 {
    margin-bottom: 10px;
  }

/* forms */

#error_explanation {
    color: red;
    ul {
      color: red;
      margin: 0 0 30px 0;
    }
  }

  .checkbox {
    
    span {
      margin-left: 20px;
      font-weight: normal;
    }
  }
  #session_remember_me {
    width: auto;
    margin-left: 0;
  }

    /* microposts */
  .microposts {
    list-style: none;
    padding: 0;
    li {
      padding: 10px 0;
      border-top: 1px solid #e8e8e8;
    }
    .user {
      margin-top: 5em;
      padding-top: 0;
    }
    .content {
      display: block;
      margin-left: 60px;
      img {
        display: block;
        padding: 5px 0;
      }
    }
    .timestamp {
      color: $gray-light;
      display: block;
      margin-left: 60px;
    }
    .gravatar {
      float: left;
      margin-right: 10px;
      margin-top: 5px;
    }
  }
  
  aside {
    textarea {
      height: 100px;
      margin-bottom: 5px;
    }
  }
  
  span.image {
    margin-top: 10px;
    input {
      border: 0;
    }
  }

  .twitter-tweet-twitter{
    display:none;
  }
  
  
  .pictures {
    margin-left: 150px;
    display:flex;
    flex-flow:wrap;
  }
  .picture{
    width:50%;
    box-sizing:content-box;
  }

  .tag{
  display: inline-block;
  margin: 0 .1em .6em 0;
  padding: .6em;
  line-height: 1;
  text-decoration: none;
  color: #0000ee;
  background-color: #fff;
  border: 1px solid #0000ee;
  border-radius: 2em;
  }


  .instructions{
  font-size: 20px;
  }

  .finder{
  margin-left: 550px;
  margin-top: 150px;
  }


